* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #222;
}

.card {
    width: 90%;
    max-width: 440px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    text-align: center;
    border-radius: 20px;
    padding: 40px 35px;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 50px;
    flex: 1;
    border-radius: 30px;
    font-size: 1.0rem;
    margin-right: 15px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    text-align: center;
}

.search button img{
    width: 15px;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}

.weather-h1{
    font-size: 50px;
    font-weight: 500px;
}

.weather-h2{
    font-size: 35px;
    font-weight: 400px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity , .wind{
    font-size: 1.7rem;
    margin-top: -5px;
}

.weather{
    display: none;
}

.error{
    text-align: left;
    margin-left: 10px;
    font-size: 1.2rem;
    margin-top: 10px;
    display: none;
}